@font-face {
    font-family: "Chinese Rocks Rg";
    src: url(chinese\ rocks\ rg.woff);
}

@font-face {
    font-family: "RDR Lino Regular";
    src: url(RDR\ Lino\ Regular.woff);
}

h1 {
    font-family: Chinese Rocks Rg;
    color: red;
    margin: 3vh;
}

a {
    text-decoration: none;
}

.link {
    font-family: RDR Lino Regular;
    font-size: 1em;
    color: white;
    align-self: center;
    text-decoration: none;
}

body {
    margin: 0;
    background-color: black;

}

#container {
    background-image: url(background_imgs/1.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: none;
    background-attachment: fixed;
    display: grid;
    grid-template-rows: 10vh auto 20vh;
    padding: 5vh 20%;
    margin: 0;
}

header {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 30% 40% 35%;
    grid-auto-rows: 100%;
}

#cutscenes {
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
}

footer {
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}





.card {
    width: 100%;
    height: 25vh;
    text-decoration: none;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    margin: 0%;
    border-style: none;
    display: flex;
}


/* .card:hover{
    border-style: 2vh solid red;
} */

.cutscene {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0%;
    border-style: none;
    padding: 5%;
    /* background-size: cover; */
    backdrop-filter: sepia(30%) brightness(30%);
    background-position: center;
}

.cutscene:hover {
    backdrop-filter: brightness(80%);
    cursor: pointer;
    /* border-style: 2vh solid red; */
}

.link:hover {
    color: red;
}


.section {
    height: 5vh
}



#name {
    font-size: 3em;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
}

#language {
    grid-column: 3/4;
    text-decoration: none;
    font-size: 0.7vw;
    display: flex;
    flex-direction: row;
    justify-content: end;
}


button {
    background: none;
    border: none;
    cursor: pointer;
    color: black;
    font-family: RDR Lino Regular;
    font-size: 1.5em;
    padding-right: 30px;
}

.square-button {
    background-color: white;
    font-family: Chinese Rocks Rg;
    color: black;
    font-size: 1em;
    padding: 0px 10px;
    margin: 0px 10px;
}


h2 {
    font-family: RDR Lino Regular;
    color: white;
    font-size: 2em;
}

p {
    color: white;
    font-family: Candara;
    word-wrap: normal;
    font-size: 1.2em;
}

#langButton {
    display: none;
    font-family: RDR Lino Regular;
}


@media(max-width: 1100px){

    #container {
        grid-template-rows: 10vh auto 20vh;
        padding: 5vh 10%;
    }

    header {
        grid-template-columns: 20% 60% 20%;
    }

    #language {
        display: none;
    }
    #langButton {
        display: flex;
        font-size: 10px;
        position: absolute;
        right: 8vw;
        top: 8vw;
        text-decoration: underline red;
    }

    #name {
        font-size: 8vw;
    }

    .section {
        height: 3vh;
        font-size: 1.5em;
    }

    h2 {
        font-size: 1em;
    }
    p {
        font-size: 0.8em;
    }


    .card {
        height: 15vh;
    }

    h1 {
        margin: 1vh;
        margin-top: 3vh;
    }
}