@font-face {
    font-family: "Chinese Rocks Rg";
    src: url(../chinese\ rocks\ rg.woff);
}

@font-face {
    font-family: "RDR Lino Regular";
    src: url(../RDR\ Lino\ Regular.woff);
}


.titleMain {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


p, ol, li, h1, h2 {
    color: white;
    font-family: RDR Lino Regular;
    word-wrap: normal;
}
ul {
    list-style: none;
    padding-left: 0;
}
ul>li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1em;
    /* background-image: url(https://static.wikia.nocookie.net/reddeadredemption/images/e/ec/DeadEyeCore.png/revision/latest/scale-to-width-down/180?cb=20181204021721);
    background-size: 10px; */
}

a, a:active, a:visited {
    color: white;
    text-decoration: none;
}

li > a, li>a:visited, li>a:active {
    color: rgb(255, 255, 255);
}

main > p {
    margin: 0px 20%;
    font-size: 2vw;
}

h2 {
    font-size: 1.5em;
}



html {
    max-height: 100vh;
}

body {
    /* aspect-ratio: 1920 / 1080;
    width: 100vw;
    height: calc(width/1920*1080); */
    margin: 0;
    display: grid;
    grid-template-rows: 80% 20%;
    background-color: black;
}





#title {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    font-family: Chinese Rocks Rg, sans-serif;
    color: white;
    word-wrap: nowrap;
    font-size: 8vw;
    margin: auto;
}

#language {
    grid-row: 1/2;
    grid-column: 3/4;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content:space-between;
    margin-right: 100px;
    margin-top: 30px;
}

.buttons {
    flex-wrap: nowrap;
    background-color: black;
    grid-column: 1/1;
    grid-row: 3/4;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
    padding-right: 100px;
    padding-bottom: 50px;
}



.square-button {
    background-color: white;
    font-family: Chinese Rocks Rg;
    color: black;
    font-size: 1em;
    padding: 0px 10px;
    margin: 0px 10px;
}


span {
    color: rgb(210,0,0);
}

#language {
    display: inline;
    align-self: right;
    font-size: 0.9vw;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-family: RDR Lino Regular;
    font-size: 1.5em;
    padding-right: 30px;
}


.titlePage {
    display:grid;
    height: 100vh;
    width: auto;
    grid-template-rows: 35% 35% 30%;
    background-color: black;
}


header {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 100%;
    background-color: black;
}

main {
    background-color: black;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    word-wrap: break-word;
    padding-bottom: 100px;
}

main > p {
    font-size: 1.2vw;
}

#langButton {
    display: none;
    font-family: RDR Lino Regular;
}


@media (orientation: portrait) {
    .fullPage {
        grid-template-rows: 30% 30% 40%;
    }

    .fullPage:has(#AN){
        grid-template-rows: 70% 30%;
    }

    .buttons {
        padding-bottom: 15vw;
    }

    main > p {
        margin: 0px 10%;
        font-size: 2vh;
    }

    main {
        padding: 20%;
        background-position: center;
        background-size: cover;
    }
    #title {
        margin: auto;
        font-size: 8vw;
    }


    #language {
        display: none;
    }

    #langButton {
        display: flex;
        font-size: 15px;
        position: absolute;
        right: 8vw;
        top: 8vw;
        text-decoration: underline red;
    }

    #AN {
        font-size: 2vw;
    }
    main:has(#AN){
        grid-row: 1/2;
        padding: 10%;
    }
    

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-top: 5%;
        padding-bottom: 10%;
    }
    main:has(#AN) + .buttons {
        grid-row: 2/3;
    }
    .buttons > button {
        margin-top: 3%;
        font-size: 1.7em;
    }
    .square-button {
        display: none;
    }

    h2 {
        font-size: 3vw;
    }
    li {
        font-size: 2vw;
    }
}